{% extends "base.html" %}

{% block body %}
<div class="form-row">
    <div class="container mt-5">
        {% if borrow_detail %}
        <table class="table table-dark table-striped mt-3">
            <h2 class="text-light">借りた金額一覧</h2>
            <thead>
                <tr>
                    <th>名前</th>
                    <th>
                        金額
                        <span data-toggle="tooltip" title="今までの借りたお金全ての履歴です。">
                            <i class="bi bi-info-circle"></i>
                        </span>
                    </th>
                    <th>
                        科目
                        <span data-toggle="tooltip" title="どんな内容で借りたのかが確認できます。">
                            <i class="bi bi-info-circle"></i>
                        </span>
                    </th>
                    <th>日付</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                {% for view in borrow_detail %}
                <tr>
                    <td>{{ view.first_name }} {{ view.last_name }}</td>
                    <td class="number-format">{{ view.amount }}</td>
                    <td class="number-format">{{ view.type }}</td>
                    <td><time>{{ view.created_at.strftime('%Y/%m/%d') }}</time></td>
                    <td>
                        <form method="post" action="/borrow/deleat" size="2">
                            <input type="hidden" name="borrow_id" value="{{ view.borrow_id }}">
                            <input type="hidden" name="party_id" value="{{ view.party_id }}">
                            <input type="submit" value="消去" class="btn btn-danger">
                        </form>
                    </td>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}
        {% else %}
        <h3>この人にお金を借りていません</h3>
        {% endif %}
    </div>

    <div class="container mt-5">
        {% if view_info %}
        <table class="table table-dark table-striped mt-3">
            <h2 class="text-light">返した金額一覧</h2>
            <thead>
                <tr>
                    <th>名前</th>
                    <th>
                        金額
                        <span data-toggle="tooltip" title="今までの借りたお金全ての履歴です。">
                            <i class="bi bi-info-circle"></i>
                        </span>
                    </th>
                    <th>
                        科目
                        <span data-toggle="tooltip" title="どんな内容で借りたのかが確認できます。">
                            <i class="bi bi-info-circle"></i>
                        </span>
                    </th>
                    <th>日付</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                {% for view in view_info %}
                <tr>
                    <td>{{ view.first_name }} {{ view.last_name }}</td>
                    <td class="number-format">{{ view.amount }}</td>
                    <td class="number-format">{{ view.type }}</td>
                    <td><time>{{ view.created_at.strftime('%Y/%m/%d') }}</time></td>
                    <td>
                        <form method="post" action="/deleat/return" size="2">
                            <input type="hidden" name="return_id" value="{{ view.return_id }}">
                            <input type="hidden" name="party_id" value="{{ view.party_id }}">
                            <input type="submit" value="消去" class="btn btn-danger">
                        </form>
                    </td>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}
        {% else %}
        <h3>この人にお金を返していません</h3>
        {% endif %}
    </div>
</div>
{% endblock %}