{% extends "base.html" %}

{% block body %}
<div class="container mt-5">
    {% if views %}
    <table class="table table-dark table-striped mt-3">
        <h2 class="text-light">借りた金額一覧</h2>
        <thead>
            <tr>
                <th>名前</th>
                <th>借りた金額一覧へ</th>
            </tr>
        </thead>
        <tbody>
            {% for view in views %}
            <tr>
                <td>{{ view.first_name }} {{ view.last_name }}</td>
                <td>
                    <form method="post" action="/borrow/detail" size="2">
                        <input type="hidden" name="party_id" value="{{ view.party_id }}">
                        <input type="submit" value="ページ移動" class="btn btn-success">
                    </form>
                </td>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}
    {% else %}
    <h3>誰にもお金を借りていません</h3>
    {% endif %}
</div>
{% endblock %}
